body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/edubground.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

.navbar {
    display: flex;
    align-items: center; 
    background-color: #333;
    padding: 0 32px; 
    height: 60px; 
    position: sticky;
    top: 0; 
    width: auto; 
    z-index: 1;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center; 
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    line-height: 48px; 
}

.navbar .nav-links a:hover {
    color: #666;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    height: 100%; 
    flex: 1; 
    flex-wrap: wrap; 
}

.container {
    background: rgba(255, 255, 255, 0.3);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    height: 95%;
}


.ad {
    margin-left: 20px;
    max-width: 400px; 
    position: relative; 
    padding: 32px;
    align-items: center;
    width: 100%; 
    height: 100%;
}

.ad img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: black; 
    border-color:#333;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 32px;
    z-index: 10;
}

.close-btn:hover {
    background-color: #c00;
    color: white;
}

.form {
    width: 100%;
    margin: 0 auto;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}


.form input[type="text"],
.form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.phone-input {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}

.phone-input .prefix {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    font-size: 14px;
    color: #555;
}

.phone-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
}

.phone-input input:focus {
    outline: none;
    border-color: #007bff;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #5598df;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #0056b3;
}

#by-phone{
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        min-height: auto; 
    }

    .form-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .ad {
        width: 100%;
        margin-top: 20px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .form {
        width: 100%;
    }

    .close-btn {
        top: 10px;
        right: 10px;
    }
}

@media (min-width: 768px) {
    .form-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 32px;
    }

    .container {
        width: 75%; 
    }

    .ad {
        width: 25%; 
        margin-left: 20px;
    }
}
